.photo-link {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.05s, opacity 0.05s;
}

.photo-container:hover .photo-link {
  visibility: visible;
  opacity: 1;
}

.photo-container {
  width: 150px;
  height: 150px;
  
}